* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

nav {
	top: 0;
	width: 100%;
	position: fixed;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 150;
}

.box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 3em;

	.fav-btn {
		padding: 0.5em 1em;
		font-weight: 600;
		background: none;
		color: #f8f8ff;
		font-size: 1.6rem;
		cursor: pointer;
		border: 1px solid #f8f8ff;
		transition: color 0.4s, background-color 0.4s;

		&:hover {
			color: black;
			background-color: #f8f8ff;
		}
	}

	.input-box {
		position: relative;
		input {
			width: 300px;
			padding: 0.5em;
			font-size: 1.6rem;
			background: none;
			border: 1px solid #f8f8ff;
			color: #f8f8ff;
		}

		.search-btn {
			position: absolute;
			right: 0;
			@extend .fav-btn;
			padding: 0.52em 1em;
		}
	}
}

.main {
	.title {
		padding: 7em 0 2em 0em;
		font-size: 2.6rem;
		text-align: center;
	}

	.img-box {
		display: flex;
		justify-content: center;
		.one {
			margin: 0 1em;
			width: 250px;
			height: 150px;
			border: 1px solid black;
			background-image: url('/dist/img/imdb.png');
			background-size: cover;
			background-position: center;
		}

		.two {
			@extend .one;
			background-image: url('/dist/img/RT_.jpg');
		}

		.three {
			@extend .one;
			background-image: url('/dist/img/meta.png');
			background-size: contain;
		}
	}

	.movie-card {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
		margin: 0.8em;
		height: 350px;
		width: 250px;
		background-image: url('https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg');
		background-size: cover;
		background-position: center;
		cursor: pointer;
		&:hover i {
			display: block;
		}

		h3,
		p {
			color: white;
			font-size: 1.8rem;
			font-weight: 500;
			z-index: 50;
		}
		p {
			padding-bottom: 0.5em;
		}
		i {
			display: none;
			position: absolute;
			left: 8px;
			top: 8px;
			color: rgb(200, 3, 3);
			font-size: 2rem;
			z-index: 20;
			text-shadow: 0 0 1px;
		}
	}

	.shadow {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		bottom: 0;
		right: 0;
		height: 28%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		text-align: center;
		z-index: 1;
	}
	.movie-box {
		position: relative;
		padding: 15em 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.movie-details-box {
		display: none;
		// display: flex;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		max-width: 1000px;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
		z-index: 220;
		min-height: 400px;
		.poster {
			opacity: 0.98;
		}

		.details {
			position: relative;
			width: 70%;
			background-color: #e3e3f2;
			opacity: 0.98;
			padding: 2em;
			h2 {
				font-size: 2.3rem;
				margin-bottom: 0.5em;
			}
			p {
				font-size: 1.6rem;
				line-height: 23px;
			}
			.info-text {
				padding: 0.8em 0 0 0;
				line-height: 20px;
			}
			
			i {
				position: absolute;
				padding: 0.5em;
				right: 0;
				top: 0;
				font-size: 2rem;
				color: rgb(200, 3, 3);
				z-index: 300;
				cursor: pointer;
			}

			.details-btn {
				position: absolute;
				bottom: 15px;
				right: 15px;
				padding: 0.5em 1em;
				font-weight: 600;
				background: none;
				color: #000000;
				font-size: 1.6rem;
				cursor: pointer;
				border: 1px solid #000000;
				transition: color 0.4s, background-color 0.4s;

				&:hover {
					color: rgb(255, 255, 255);
					background-color: #000000;
				}
			}

			img {
				height: 70px;
				margin: 0.4em 0;
			}
			.rating-details {
				position: absolute;
				bottom: 0;
				display: flex;
				padding: 2em;
				.rating-box {
					padding: 1em;
					display: flex;
					flex-direction: column;
					text-align: center;
					.rating {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}
.overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(42, 42, 42, 0.75);
	z-index: 200;
}

//MEDIA



@media (max-width: 1080px) {
	.main .movie-details-box {
		position: fixed;
		top: 50%;
		width: 95%;
	
	}
	
	.main .movie-details-box .details .rating-details {
		position: absolute;
		bottom: 0;
		display: flex;
		padding: 0.2em;
	}

	.main .movie-details-box .details .rating-details .rating-box {
		padding: .8em;
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.main .movie-details-box .details .rating-details {
		position: relative;
		padding: 0.2em;
	}
	.main .movie-details-box .details img {
		height: 60px;
		margin: 0.4em 0;
	}

	.main .movie-details-box .details .details-btn {
		position: relative;
		align-self: flex-end;
		margin-top: 2em;
		padding: 0.5em 1em;
	}

	.main .movie-details-box .details {
		display: flex;
		flex-direction: column;
		width: 70%;
		background-color: #e3e3f2;
		opacity: 0.98;
		padding: 2em;
	}
}

@media (max-width: 500px) {
	html {
		font-size: 50%;
	}

	nav {
		height: 65px;
	}

	.box {
		.input-box {
			position: relative;
			input {
				width: 200px;
			}
		}
	}

	.img-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main .movie-card {
		margin: 0.4em;
		height: 270px;
		width: 170px;
	}

	.main .shadow {
		height: 33%;
		width: 100%;
	}


	.main .movie-details-box {
		position: fixed;
		flex-direction: column;
		top: 55%;	
	}

	.main .movie-details-box .poster {
		display: none;
	}

	.main .movie-details-box .details {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: #e3e3f2;
		opacity: 0.98;
		padding: 2em;
	}
}